.awsners-container {
    background-color: #FDF0D5;
    color: #010101;
    width: 90%;
    max-width: 30rem;
    border-radius: .5rem;
    padding: 1rem;
}
.awsners-container h1 {
    text-align: center;
    color: #2F2519;
    margin-bottom: 2rem;
}

.awsners-container ul {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.awsners-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.awsners-container ul li .likeBtn {
    position: absolute;
    display: flex;
    gap: .2rem;
    align-items: center;
    right: .2rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: #C1121F;
    transition: all ease .3s;
    user-select: none;
} 

.awsners-container ul li .likeBtn:active {
    scale: 1.2;
}

.awsners-container ul li:not(:last-child) {
    border-bottom: 1px solid #939393;
    padding-bottom: .2rem;
}

.awsners-container ul li .awsner-text {
    font-size: 1.2rem;
    width: 70%;
    max-height: 40rem;
}


.awsners-container ul li .awsner-date {
    font-size: .85rem;
    font-weight: 700;
    width: 30%;
    margin-right: 2.5rem;
    text-align: end;
    color: #003049;
}