.submit-button {
    background: #FDF0D5;
    color: #780000;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5rem 2rem;
    border-radius: .5rem;
    transition: all ease .3s;
}

.submit-button:hover {
    cursor: pointer;
    background: #C1121F;
    color: #FDF0D5;
}

.submit-button:active {
    scale: .9;
}