.awsner-input {
    resize: none;
    font-size: 1.5rem;
    color: #FDF0D5;
    outline: none;
    outline: .1rem solid #FDF0D5;
    border-radius: 1rem;
    height: 8rem;
    width: 100%;
    max-width: 25rem;
    background-color: #002133;
    padding: .2em 1.5em;
    transition: all ease-in .3s;
}

.awsner-input:focus {
    outline: .15rem solid #C1121F;
}

.awsner-input:hover {
    outline: .15rem solid #780000;
    background-color: #004266;
}